* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #f5f8fa;
}

.wrapper {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.decnone {
    text-decoration: none;
    padding: 10px;
}

.gray {
    color: gray;
}

.log-in {
    color: coral;
    padding: 9px;
    border: 1px solid coral;
    border-radius: 5px;
}

.gethub {
    background-color: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.bg-cream {
    background-color: gainsboro;
}

.list-style {
    list-style-type: none;
}

.list-style > li {
    float: left;
}

li > a {
    color: dimgray;
}