* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #f5f8fa;
}

.wrapper {
    display: flex;
    line-height: 39px;
    width: 80%;
    margin: auto;
    padding: 20px;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

/* .test {
    width: 80%;
} */

.decnone {
    text-decoration: none;
    padding: 10px;
}

.gray {
    color: gray;
}

.log-in {
    color: coral;
    padding: 9px;
    border: 1px solid coral;
    border-radius: 5px;
}

.gethub {
    background-color: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.bg-cream {
    background-color: gainsboro;
}

.list-style {
    list-style-type: none;
}

.list-style > li {
    float: left;
}

li > a {
    color: dimgray;
}

.jumbotron > img {
    width: 100%;
    /* flex-grow: 1; */
}

.jumbotron {
    display: flex;
    position: relative;
}

.jumbotron > .wrapper {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 500px;
    margin: auto;
    flex-direction: column;
}

.jumbotron > .wrapper > .gethub {
    align-self: flex-start;
}

.wrapper > p {
    line-height: 1.6;
    padding: 10px 0;
}

.bg-azul {
    background-color: 
    #f5f8fa;
}

.bg-azul > .wrapper {
    flex-direction: column;
    text-align: center;
}

.wrapper > img {
    width: 20%;
    margin: auto;
}

.bg-white {
    background-color: white;
}

.flexcol {
    width: 20%;
    flex-direction: column;
}

.book-img {
    width: 100%
}

.book {
    width: 80%;
}
