* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    background-color: #f5f8fa;
}

.wrapper {
    display: flex;
    line-height: 39px;
    width: 80%;
    margin: auto;
    padding: 20px;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

/* .test {
    width: 80%;
} */

.decnone {
    text-decoration: none;
    padding: 10px;
}

.gray {
    color: gray;
}

.log-in {
    color: coral;
    padding: 9px;
    border: 1px solid coral;
    border-radius: 5px;
}

.gethub {
    background-color: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.bg-cream {
    background-color: gainsboro;
}

.list-style {
    list-style-type: none;
}

.list-style-float {
    float: left;
    list-style-type: none
}

.list-style-float > li {
    float: left;
}

li > a {
    color: dimgray;
}

.jumbotron > img {
    width: 100%;
    /* flex-grow: 1; */
}

.jumbotron {
    display: flex;
    position: relative;
}

.jumbotron > .wrapper {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 40%;
    margin: auto;
    flex-direction: column;
}

.jumbotron > .wrapper > .gethub {
    align-self: flex-start;
}

.wrapper > p {
    line-height: 1.6;
    padding: 10px 0;
}

.bg-azul {
    background-color: 
    #f5f8fa;
}

.bg-azul > .wrapper {
    flex-direction: column;
    text-align: center;
}

.wrapper > img {
    width: 20%;
    margin: auto;
}

.bg-white {
    background-color: white;
}

.bg-azul > .wrapper.bg-white {
    border: lightgrey solid 1px;
}

.flexcol {
    width: 100%;
    display: flex;
}

.flexcol-20 {
    width: calc(20% - 40px);
    flex-direction: column;
    margin: auto;
}

.book-img {
    width: 100%
}

.grow-1 {
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.book {
    width: 80%;
}

.flexcol-80 {
    width: calc(80% - 20px);
    text-align: left;
    margin: auto;
}

.flexcol-80 > p {
    line-height: 1.6;
}

.line {
    border-bottom: 1px solid;
    width: 60%;
    padding: 0 20px;
}

.pad-10 {
    padding: 10px;
}

.wrapper-no-pad {
    display: flex;
    line-height: 39px;
    width: 80%;
    margin: auto;
    position: relative;
    justify-content: space-between;
}

.flexcol-30 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin: 15px 0;
    flex-basis: 32%;
    text-align: center;
    flex-direction: column;
    border: 1px solid lightgray;
}

.flexcol-30 > img {
    width: 30%;
}

.flexcol-30 > p {
    line-height: normal;
}

.text-trans-up {
    text-transform: uppercase;
}

.list-style > li {
    text-align:justify;
}

.flexcol-30 > * {
    padding: 10px;
}

.bg-sea {
    background-color: lightseagreen;
}

.white {
    color: white;
}

.text-center {
    text-align: center;
}

h2 {
    margin: auto;
}

.bg-sea > .wrapper {
    flex-direction: column;
}

.grill-1,
.grill-2 {
    display: flex;
}

.grill-item {
    padding: 8px;
    border: solid 1px lightgray;
    width: calc(100% / 4);
    flex-wrap: wrap;
}

.maxigrill {
    border: lightseagreen;
}

.pad-60 {
    padding: 60px 0;
}

.mar-60 {
    margin-top: 60px;
}

.text-left {
    text-align: left;
}

.flexcol-40 {
    width: 40%;
    flex-direction: column;
    margin: auto;
}

.flexcol-60 {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.brands {
    width: 60%;
}

.grill-3,
.grill-4 {
    display: flex;
    text-align: right;
}

.grill-3 > .grill-item {
    width: calc(100% / 4);
    border: none;
}

.grill-4 > .grill-item {
    border: none;
    width: calc(100% / 4);
}
